# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA specific files
*.iml
.idea/
*.iws
*.ipr
out/

# Eclipse specific files
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*.swo
*.orig
*.log
*.tld
.settings/

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code specific files
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# macOS specific metadata files
*.swp
*.swo
